<div id='container'>
    <%- include('../nav.ejs') %>
    <!-- <h1><a href="/">HOME</a></h1> -->
    <h1><%= title%></h1>

    <section id='add'>
        <li>
            <% for(let i=0; i<list.length; i++){ %>
                <form action="/update-process" method='post'>
                    <ul><%=list[i].name%> : <%=list[i].value%></ul>
                    <input type="hidden" name="id" value="<%=list[i].name%>" >
                    <input type="text" name='money' placeholder='1000'>
                    <input type="submit">
                </form>
            <% } %>
        </li>
    </section>
</div> 
